
*{
    box-sizing: border-box;
}

.main-container{
    display: block;
    width: 50%;
    margin: 50px auto;
    text-align: center;
    border: 1px solid #ccc; /* Optional: to visualize the container boundary */
    padding: 20px; /* Optional: for better spacing inside the container */
}

.Timer-box{

    display:inline-block;
    position: relative;
    /* border: 1px solid black; */
    text-align: center;
    /* align-content: center; */
    /* width: auto;
    height: auto; */
}


.Close-button{
    /* z-index: -1; */
    position: absolute;
    top: 1px;
    right: 1px;
}

#heading-input{
    width: 185px;
}



#settings_box
{
    display: none;
    position: fixed;
    top: 35%;
    left: 50%;
    width : 50vh;
    height : 50vh;
    z-index: 1000;
    padding: 20px;
    border: 1px solid black;
    background-color: #fff;
    transform: translate(-50%, -50%);
    border-radius: 5%;

 

}

.settings-heading{
    /* border: 1px solid black; */
    display: flex;
    justify-content: left;
    text-align: center;
    /* position: absolute; */
    align-self: left;
}

.change-heading{
    display:flex;
    padding:20px;
    padding-top: 5%;
    gap:10px
    /* border: 1px solid black; */
}

.change-timer{
    /* border: 1px solid black; */
    display:flex;
    padding: 20px;
    gap:10px
    /* padding-top: 10%; */
}

.button{
    width:50px
}

.small-text-box{
    width:50px
}

.confirmation
{
    display: none;
    border: 1px solid black;
    width: 50%;
    height: 50%;
    transform: translate(50%, 0%);
    z-index: 10;
}





.hour,.minutes,.seconds{
    width : 10%;
}

#overlay {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    /* border: 1px solid #e41414; */
}

#close-button-confirmation{
    position: absolute;
    top: 5px;
    right: 5px;
}




.tab-box {

    /* width : 600px;
    height : 800px; */
    display: block;
    width: 60%;
    height:50vh;
    margin: 50px auto;
    /* border : 1px solid black; */
    /* padding: 20px; */
}


.button-container{
    width: 100%;
    height: 10%;

    /* border : 1px solid black; */
}

.button-container button{
    text-align: left;
    width:50%;
    height : 100%;
    float: left;
    border: none; 
    outline: none;
    cursor:pointer;


    padding: 10px;
    font-size: 10px;
    background-color: #ccc;

}

.button-container #button2{
    text-align: right;

}



/* .button-container button:hover{
    background-color: #f5f5dc;
    border : 1px solid black;
} */

.content-container
{
    /* border : 1px solid black; */
    height: 85%;
    /* padding-top: 105px; */
    box-sizing: border-box;
    text-align: center;
    display: none;
    padding-top:5% ;
    /* padding-right:10% ; */
}

.input-todo{
    /* border : 1px solid black; */
    /* width:50% */
    padding-left: 20%;
    padding-right: 20%;
    
}

.list-container 
{
    text-align: left;
    /* border : 1px solid black; */
    height :90%;
    padding-left: 20%;
    padding-right: 20%;
    overflow-y: auto; 
    
    
}


.list-container ul {
    /* display:inline-block; */
    
    list-style-type: disc;
    /* width: 100%; */
    /* display: flex; */
}

ul {
    list-style-type: disc;
    
}




ul li span{
    margin-left: auto;
    
}


.list-container ul li.checked{

    text-decoration: line-through;
    text-decoration-color:hsla(0, 0%, 0%, 0.479);
    /* text-decoration: hwb(0 8% 2% / 0.76); */
    /* border : 1px solid black; */
}


.list-container ul li span{

    text-decoration: none;
    /* border : 1px solid black; */
}



.list-container li::before {
    content: "--     "; /* Bullet symbol */
    /* position: absolute;
    left: 0; */
     
    color: black; /* Bullet color */
  }


  #event_log{
    font-size: x-small;
    padding-left: 0%;
    list-style-type: none;
  }